/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Array";
  src: url("/src/assets/fonts/Array-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Jersey";
  src: url("/src/assets/fonts/Jersey20.ttf") format("truetype");
  /* font-weight: bold; */
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
